#TemaAmarelo { background-color: #FFBF54; }

#TemaVermelho { background-color: #E55E5E; }

#TemaAzul { background-color: #54AAFF; }

#TemaVerde { background-color: #5DD75A; }

#TemaRoxo { background-color: #D940C9; }