.contentBlockLearn {
    width: 100%;
    margin-top: 15px;
    min-height: 100px;
    border-radius: 7px;
    border: 0.6px solid #000000;
    display: inline-block;
}

.contentBlockLearn p {
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 1.3px black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    margin: 0;
}