.areaAtividade
{
    width: 88%;
    height: 150px;
    border: 1px solid #000;
    margin-left: 18px;
    margin-top: 13px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.tituloAtividade
{
    font-family: Fredoka One;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
}

.detalhesAtividade
{
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
    -webkit-text-stroke: 1.3px black;
    margin-left: 10px;
}

.detalhesAtividadeAmarelo
{
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #FFBF54;
    -webkit-text-stroke: 1.3px black;
}