.spanRelatorio 
{ 
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    -webkit-text-stroke: 1.3px black;
    margin-left: 5px;
}

.divRelatorio { margin-top: 10px; }

#btnVer
{
    width: 78px;
    height: 19px;
    background: #FFBF54;
    border-radius: 5px;
    border-style: none;
    font-family: Fredoka One;
    font-size: 14px;
    line-height: 17px;
    margin-left: 5px;
}

.txtAmarelo 
{ 
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    color: #FFBF54;
    -webkit-text-stroke: 1.3px black;
}

#btnAtividade 
{
    width: 135px;
    height: 19px;
    background: #FFBF54;
    border-radius: 5px;
    border-style: none;
    font-family: Fredoka One;
    font-size: 14px;
    margin-left: 28%;
}