body{
    background-color: #F5F5F5;
}
p{  
    color: #fff;
    font-family: Fredoka One;
    font-style: normal;
    font-size:24px;
    font-weight: normal;
    text-align: center;
    margin: 30px 30px;
    -webkit-text-stroke: 1.3px black;
}
.footerIcon
{
    max-height: 35px;
    margin: 0 auto;
    display: block;
}

.logo
{
    margin: 0 auto;
    padding: 15px 0;
    display: block;
}
.footerText
{
    font-weight:400;
    padding-bottom:1px;
    margin:0;
    font-size: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #FFFFFF;
    -webkit-text-stroke: 1px black;

}
.Footer
{
    padding-top:3px;
    background-color: #54AAFF;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
}
.Header{ background-color: #54AAFF; }

.Learn
{
    margin-top:5px;
}

.Games
{
   margin-top:5px;
}
a
{
    text-decoration: none;
}
h1{
    color: #646464;
    font-family: Fredoka One;
    font-size:28px;
    font-weight: normal;
    text-align: center;
}
.content
{
    width: 90%;
    margin: 0 auto;
    border: 1px #000 solid; 
    min-height: 300px;
}
.contentBlock
{
    width: 45%;
    margin: 15px 2%;
    min-height: 100px;
    background-color: aqua;
    border-radius: 7px; 
    display: inline-block;
}
.contentText
{
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 1.3px black;
}
.contentHref
{
    height: 100%;
    width: 100%;
}
.btnAmarelo
{
    width: 60%;
    height: 60px;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-family: Fredoka One;
    font-style: normal;
    font-size:24px;
    font-weight: normal;
    background-color: #FFBF54;
    border-radius: 10px;
    -webkit-text-stroke: 1.3px black;
}

#btnJogar
{
    margin-top: 70px;
}

#btnCadastrarPaciente
{
    width: 70%;
    height: 40px;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-family: Fredoka One;
    font-style: normal;
    font-size:18px;
    font-weight: normal;
    background-color: #FFBF54;
    border-radius: 10px;
    -webkit-text-stroke: 1.3px black;
    border-style: none;
    margin-top: 17px;
}